.so-widget-lsow-icon-list-default-e7abd7d020ba-13675 .lsow-icon-list .lsow-icon-list-item .lsow-image-wrapper img {
  width: 25px;
}
.so-widget-lsow-icon-list-default-e7abd7d020ba-13675 .lsow-icon-list .lsow-icon-list-item .lsow-icon-wrapper span {
  font-size: 25px;
  color: #dd3333;
}
.so-widget-lsow-icon-list-default-e7abd7d020ba-13675 .lsow-icon-list .lsow-icon-list-item .lsow-icon-wrapper span:hover {
  color: #444444;
}