.so-widget-lsow-icon-list-default-d238318d034f-13675 .lsow-icon-list .lsow-icon-list-item .lsow-image-wrapper img {
  width: 25px;
}
.so-widget-lsow-icon-list-default-d238318d034f-13675 .lsow-icon-list .lsow-icon-list-item .lsow-icon-wrapper span {
  font-size: 25px;
  color: #81d742;
}
.so-widget-lsow-icon-list-default-d238318d034f-13675 .lsow-icon-list .lsow-icon-list-item .lsow-icon-wrapper span:hover {
  color: #444444;
}