<div class="flex bg-gray-800 text-white top-0 py-3 flex-wrap justify-around bg-silver">
    <h1 class="text-sm font-semibold">01 (449) 442 1400  info@upa.edu.mx</h1>
    <ul class="flex gap-[40px] text-m">
      <li>Información COVID-19</li>
      <li>Calidad institucional</li>
      <li>Contáctanos</li>
      <li>Correo</li>
      <li>SIIUPA</li>
      <li>Sugerencias</li>
    </ul>
</div>



